{{#partial "content"}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="landingHeading">{{character.name}}</h1>
        </div>
        <div class="panel-body gameplayBody">
        <div class = "board1">
           <h2>Character Stats:</h2>
                <p>Description: {{character.description}}</p>
                <p>HP:{{character.hP}}/{{character.currentHP}}</p>
                <p>MP:{{character.mP}}/{{character.currentMP}}</p>
                <p>Strength:{{character.strength}}</p>
                <p>Magic:{{character.magic}}</p>
                <p>Dexterity:{{character.dexterity}}</p>
                <p>Defense:{{character.defense}}</p>
                <p>Magic Defense:{{character.magicDefense}}</p>
                <p>Level:{{character.level}}</p>
                <p>Experience:{{character.experience}}</p>
        </div>
        </div>
    </div>
    <div class="well gamelogWell">
        <p></p>

        Choose your path:
        <br>
        <a href="/game/board3">Back</a>

        <h4>Back to main page:<a href="/">Click Here!</a></h4>
    </div>
{{/partial}}
{{> layout.hbs}}



















{{#partial "content"}}

<div class = "well charWell">
    <h2>Name: {{character.name}}</h2>
    <p>Class: {{character.charClass}}</p>
    <p>Description: {{character.description}}</p>

   <h2>Character Stats:</h2>
        <p>HP:{{character.hP}}/{{character.currentHP}}</p>
        <p>MP:{{character.mP}}/{{character.currentMP}}</p>
        <p>Strength:{{character.strength}}</p>
        <p>Magic:{{character.magic}}</p>
        <p>Dexterity:{{character.dexterity}}</p>
        <p>Defense:{{character.defense}}</p>
        <p>Magic Defense:{{character.magicDefense}}</p>
        <p>Level:{{character.level}}</p>
        <p>Experience:{{character.experience}}</p>
</div>
{{/partial}}
{{> layout.hbs}}