{{#partial "content"}}
<div class = "well">
    <h3>Name: {{character.name}}</h3>
    <p>Class: {{character.charClass}}</p>
    <p>Description: {{character.description}}</p>
   <h3>Character Stats:</h3>
        <p>HP:{{character.hP}}</p>
        <p>MP:{{character.mP}}</p>
        <p>Strength:{{character.strength}}</p>
        <p>Magic:{{character.magic}}</p>
        <p>Dexterity:{{character.dexterity}}</p>
        <p>Defense:{{character.defense}}</p>
        <p>Magic Defense:{{character.magicDefense}}</p>
        <p>Level:{{character.level}}</p>
        <p>Experience:{{character.experience}}</p>
        <a href="/game">Continue Game</a>
</div>
{{/partial}}
{{> layout.hbs}}