{{#partial "content"}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="landingHeading">High Roads</h1>
        </div>
        <div class="panel-body gameplayBody">
            <div class = "board1">
                <img src="/images/highroad.jpg" width="100%" height="100%">
            </div>
        </div>
    </div>
    <div class="well gamelogWell">
        {{#if win}}
            <h1>You just won the fight</h1>
            <a href="/game/highroad/2">Keep walking</a>
        {{else}}
            <p>Currently fighting ghouls.</p>

            {{#if damage}}
                <p>Your party has taken damage</p>
            {{/if}}

            Choose your path, {{currentPC.name}}:
            <br>
            {{#each enemies}}
                <form action="/game/highroad/1/attack/pc/{{currentPC.id}}/enemy/{{id}}/{{mage.id}}/{{fighter.id}}" method="post">
                    <button type="submit"><p>Attack {{name}}<p></button>
                </form>
                <br>
            {{/each}}

            <a href="/game/highroad/1/castspell">Cast Spell</a>
            <br>
            <a href="/game/highroad/1/item">Use Item</a>
            <br>
            <a href="/game/highroad/1/runaway">Run Away</a>
        {{/if}}
    </div>
{{/partial}}
{{> layout.hbs}}